#size of periodic box (x, y, z in angstroms)
87.17
87.17
87.17
#temperature in Kelvin
298.15
#max translation
.12
#number of steps
100000
#number of molecules
4000
#path to opls.par file
/home/compchem/git/Francis/MCGPU/resources/bossFiles/oplsaa.par
#path to z matrix file
/home/compchem/git/Francis/MCGPU/test/unittests/MultipleSolvents/indole4000Tests/indole.z
#path to state input
/home/compchem/git/Francis/MCGPU/test/unittests/MultipleSolvents/indole4000Tests
#path to state output
/home/compchem/git/Francis/MCGPU/test/unittests/MultipleSolvents/indole4000Tests
#pdb output path
/home/compchem/git/Francis/MCGPU/test/unittests/MultipleSolvents/indole4000Tests
#cutoff distance in angrstoms
11.0
#max rotation
6.0
#Random Seed Input
12345
#Primary Atom Index
[1,2],1