#size of periodic box (x, y, z in angstroms)
95.88
95.88
95.88
#temperature in Kelvin
298.15
#max translation
.06
#number of steps
100000
#number of molecues
5324
#path to opls.par file
/home/auboxa/GPU/MCGPU-MPI/resources/bossFiles/oplsaa.par
#path to z matrix file
indole.z
#path to state input
/home/auboxa/GPU/MCGPU-MPI/
#path to state output
/home/auboxa/GPU/MCGPU-MPI/
#pdb output path
run.pdb
#cutoff distance in angstroms
12.0
#max rotation
6.0
#Random Seed Input
12345
#Primary Atom Index
1
