#size of periodic box (x, y, z in angstroms)
95.88
95.88
95.88
#temperature in Kelvin
298.15
#max translation
.06
#number of steps
100000
#number of molecues
5324
#path to opls.par file
resources/bossFiles/oplsaa.par
#path to z matrix file
resources/exampleFiles/indole.z
#path to state input

#path to state output directory

#path to pdb output directory

#cutoff distance in angstroms
12.0
#max rotation
6.0
#Random Seed Input
12345
#Primary Atom Index
1
#name of the simulation
indole5324
