# Size of periodic box (x, y, z in angstroms)
x=95.88
y=95.88
z=95.88
# Temperature in Kelvin
temp=298.15
# Max translation
max-translation=.06
# Number of steps
steps=100000
# Number of molecues
molecules=5324
# Path to opls.par file
opla.par=resources/bossFiles/oplsaa.par
# Path to z matrix file
z-matrix=resources/exampleFiles/indole.z
# Path to state input

# Path to state output directory

# Path to pdb output directory

# Cutoff distance in angstroms
cutoff=12.0
# Max rotation
max-rotation=6.0
# Random Seed Input
random-seed=12345
# Primary Atom Index
primary-atom=1
# Name of the simulation
sim-name=indole5324
