#size of periodic box (x, y, z in angstroms)
65.82
65.82
65.82
#temperature in Kelvin
298.15
#max translation
.12
#number of steps
100000
#number of molecues
4000
#path to opls.par file
resources/bossFiles/oplsaa.par
#path to z matrix file
resources/exampleFiles/meoh.z
#path to state input

#path to state output directory

#path to pdb output directory

#cutoff distance in angstroms
11.0
#max rotation
12.0
#Random Seed Input
12345
#Primary Atom Index
1
#name of the simulation
meoh4000
