#size of periodic box (x, y, z in angstroms)
28.0
28.0
28.0
#temperature in Kelvin
298.15
#max translation
.15
#number of steps
1000
#number of molecues
108
#path to opls.par file
../resources/bossFiles/oplsaa.par
#path to z matrix file
../resources/bossFiles/adesucH.z
#path to state input

#path to state output
stateOutput
#pdb output path
pdbOutput.pdb
#cutoff distance in angstroms
9.0
#max rotation
15.0
#Random Seed Input
12345
#Primary Atom Index
[3,2],[3,5]
