#size of periodic box (x, y, z in angstroms)
55
55
55
#temperature in Kelvin
298.15
#max translation
.15
#number of steps
1000
#number of molecules
1900
#path to opla.par file
../resources/bossFiles/oplsaa.par
#path to z matrix file
../test/unittests/Integration/WaterTest/watt4p.z
#path to state input
../test/unittests/Integration/WaterTest
#path to state output
../test/unittests/Integration/WaterTest
#pdb output path
../test/unittests/Integration/WaterTest
#cutoff distance in angstroms
25
#max rotation
15
#Random Seed Input
54321
#Primary Atom Index
1
