#size of periodic box (x, y, z in angstroms)
26.15
26.15
26.15
#temperature in Kelvin
298.15
#max translation
0.12
#number of steps
100000
#number of molecules
256
#path to opla.par file
/home/blm0026/MCGPU//resources/bossFiles/oplsaa.par
#path to z matrix file
/home/blm0026/MCGPU//test/unittests/MultipleSolvents/t3pdimoneTests/t3pdimone.z
#path to state input
/home/blm0026/MCGPU//test/unittests/MultipleSolvents/t3pdimoneTests
#path to state output directory
/home/blm0026/MCGPU//test/unittests/MultipleSolvents/t3pdimoneTests
#path to pdb output directory
/home/blm0026/MCGPU//test/unittests/MultipleSolvents/t3pdimoneTests
#cutoff distance in angstroms
11
#max rotation
12
#Random Seed Input
12345
#Primary Atom Index
[1,2],[3,4]