# Size of periodic box
x=10.342
y=1234.45
z=100.3
# Temperature
temp=293
# Max translation
max-translation=.5
# Number of steps
steps=10000
# Number of molecues
molecules=500
# Path to opla.par file
opla.par=path/to/opla.par/file
# Path to z matrix file
z-matrix=path/to/zMatrix/file
# Path to state input
state-input=path/to/state/input
# Path to state output
state-output=path/to/State/output
# Pdb output path
pdb-output=path/to/pdb/output
# Cutoff distance
cutoff=25
# Max rotation
max-rotation=15
# Random seed input
random-seed=12345
# Primary atom index
primary-atom=1
# Simulation name
sim-name=MyTestSimulation
